#treeMap {
    width:99%;
    padding-left:25px;
    border: 1px solid black;
    font-family: Roboto;
  }
  
  #title {
    font-size: 30px;
  }
  
  .legend-labels {
    font-size: 20px;
  }
  
  #description {
    font-size: 20px;
  }
  
  #tooltip {
    visibility: hidden;
    position: absolute;
    background: black;
    opacity: 0.8;
    color: white;
    pointer-events: none;
    padding: 5px;
    border-radius: 5px;
  }
  
  .tooltip-row {
    color: white;
    font-family: Roboto;
    font-size: 12px;
  }
  
  .tile:hover {
    opacity: 0.9;
  }
  
  td {
    text-align: center;
  }

  .text {
      color:black;
      justify-self: center;
      
  }
