$color : white;

// describes the tooltip that created on hover
@mixin tooltip {
    position: absolute;
    visibility: hidden;
    background-color: green;
    border: 1px solid;
    border-width: 5px;
    padding: 5px;
    color: black;
    }

// class describing the rect elements
.bar {
    justify-content: center;
    // tooltip is used here
    &:hover {
        fill: $color;
        cursor: pointer;
        @include tooltip()
    }
}

// class describing the body
.this {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding-bottom: 10px;
}
