/* describes the tooltip that created on hover */
body {
    align-self: left;
    justify-content:left;
    background-color: aliceblue;
    height:150vh;
    overflow-x:hidden;
}

p {
    margin: auto;
    width:90%;
    padding: 10px;   
}

u {
    color: black;
    height: 3px;
}

h1 {
    margin:auto;
    width:50%;
    border: 0px solid green;
    text-align:center;
}

.xAxis {
    font-size: 10px;
    transform: rotate(90deg);
}

.xlabel {
    font-weight: bolder;
}


/* class describing the rect elements */
.bar {
    justify-content: left;
}

/* tooltip is used here */
.bar:hover {
    fill: red;
    cursor: pointer;
    position: absolute;

}

/* class describing the body */
.this {
    padding: 100px;
    margin-left:1%;
   padding:0;
}

#title {
    color: blue;
    font-weight: bold;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

